h1 {
  text-align: center;
}

.absolute {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.control {
  margin: 15px 0;
}

.switch {
  * {
    margin: 5px;
  }
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
